@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    @apply text-[#24222E] bg-white
}

.bgColor {
    @apply bg-[#F3F5F6]
}

.bgDark {
    @apply bg-[#434A53]
}

.textDark {
    @apply text-[#434A53]
}

.primaryColor {
    @apply bg-[#FF0000] text-white
}

.lightText {
    @apply text-[#7B7B7C]
}

.form-control {
    @apply focus:border-b-2 border-red-500 outline-none w-full py-1 font-semibold border-b duration-150
}

.form-control2 {
    @apply p-3 outline-none border w-full bg-white
}

.container {
    @apply px-6
}

.btn-primary {
    @apply text-sm py-3 rounded-md outline-none px-20 primaryColor w-full
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}