@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/ProductSansRegular.ttf'); /* IE9 Compat Modes */
    src: local(''),
         url('./fonts/ProductSansRegular.ttf') format('ttf'), /* Super Modern Browsers */
         url('./fonts/ProductSansRegular.ttf') format('truetype'), /* Safari, Android, iOS */
  }

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
  

html {
    @apply text-[#24222E] font-sans select-none bg-white
}

.bgColor {
    @apply bg-[#F3F5F6]
}

.bgDark {
    @apply bg-[#434A53]
}

.textDark {
    @apply text-[#434A53]
}
.primaryColor {
    @apply bg-[#FF0000] text-white
}

.lightText {
    @apply text-[#7B7B7C]
}

.form-control {
    @apply focus:border-b-2 border-red-500 outline-none w-full py-1 font-semibold border-b duration-150
}

.container {
    @apply px-6
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}